%h4.spreadsheet-link.text-center
  Check out our
  = link_to "accommodations spreadsheet", "https://docs.google.com/spreadsheets/d/1Nx3ClpQYWGmXu_NCnMM_qbw0jLxPTaCYT6M9_XvNEDA/edit?usp=sharing", target: "_blank"
  and
  = link_to "travel spreadsheet", "https://docs.google.com/spreadsheets/d/1Nx3ClpQYWGmXu_NCnMM_qbw0jLxPTaCYT6M9_XvNEDA/edit#gid=1771538616", target: "_blank"
  to find friends to travel and stay with!

%dl.sub-nav
  %dt Sort by:
  %dd{class: "#{'active' unless params[:order] == 'distance'}"}
    =link_to "PRICE", "?order=price"
  %dd{class: "#{'active' if params[:order] == 'distance'}"}
    =link_to "DISTANCE", "?order=distance"

.accommodations-section.row(data-equalizer)
  - @accommodations.each do |a|
    .medium-6.columns
      .panel(data-equalizer-watch)
        .accom-header.text-center
          %h3.title= a.title
          %span.price= a.price
          %span.distance= "#{a.distance} minutes away"

        %p.notes= a.description

        .row
          .large-5.columns
            .address
              = a.address_line_1
              %br
              = a.address_line_2

          .large-7.columns
            .phone
              %span.tiny-title PHONE:
              = a.phone
            - if a.email.present?
              .email
                %span.tiny-title EMAIL:
                = a.email

        .website.text-center
          = link_to "WEBSITE", a.website, class: "grey-blue-button tiny", target: "_blank"
