.accommodations-section(data-equalizer-watch)
  - @accommodations.each do |a|
    .medium-6.columns(data-equalize)
      .panel
        .accom-header.text-center
          %h3.title= a.title
          %span.price= a.price
          %span.distance= a.distance

        %p.notes= a.description

        .row
          .large-5.columns
            .address
              = a.address_line_1
              %br
              = a.address_line_2

          .large-7.columns
            .website
              %span.tiny-title WEBSITE:
              = link_to a.website, a.website

            .phone
              %span.tiny-title PHONE:
              = a.phone
