%nav.text-center
  .title
    .title-stuff-wrapper
      %h1= link_to "Justin & Christina", root_path
      = image_tag "2.png", class: "line"
  %ul.text-center
    %li
      = link_to "Accommodations", accommodations_path
    %li
      = link_to "Details", "/details"
    %li
      = link_to "Directions", "/directions"
    %li
      = link_to "Registry", "/registry"
    %li
      = link_to "RSVP Online!", new_rsvp_path
